# List

In [1]:
lst=["shivani",22,"female","modheshivani@gmail.com"]

In [2]:
lst

['shivani', 22, 'female', 'modheshivani@gmail.com']

In [3]:
#append
lst.append("123456")

In [4]:
lst

['shivani', 22, 'female', 'modheshivani@gmail.com', '123456']

In [5]:
#copy
lst.copy()

['shivani', 22, 'female', 'modheshivani@gmail.com', '123456']

In [6]:
#count
lst.count("shivani")

1

In [7]:
#extend
lst.extend("female")

In [8]:
lst

['shivani',
 22,
 'female',
 'modheshivani@gmail.com',
 '123456',
 'f',
 'e',
 'm',
 'a',
 'l',
 'e']

In [9]:
#index
lst.index("shivani")

0

In [13]:
#insert
nickname="twinky"
lst.insert(2,nickname)

In [14]:
lst

['shivani',
 22,
 'twinky',
 'female',
 'modheshivani@gmail.com',
 '123456',
 'f',
 'twinky',
 'e',
 'm',
 'a',
 'l',
 'e']

In [15]:
#remove
lst.remove("twinky")

In [16]:
lst

['shivani',
 22,
 'female',
 'modheshivani@gmail.com',
 '123456',
 'f',
 'twinky',
 'e',
 'm',
 'a',
 'l',
 'e']

In [17]:
lst.remove("twinky")

In [18]:
lst

['shivani',
 22,
 'female',
 'modheshivani@gmail.com',
 '123456',
 'f',
 'e',
 'm',
 'a',
 'l',
 'e']

In [19]:
#pop
lst.pop(2)

'female'

In [20]:
#reverse
lst.reverse()

In [21]:
lst

['e',
 'l',
 'a',
 'm',
 'e',
 'f',
 '123456',
 'modheshivani@gmail.com',
 22,
 'shivani']

In [22]:
#clear
lst.clear()

In [23]:
lst

[]

# Dictionaries

In [24]:
dict={"name":"shivani","age":"22","gender":"female","email":"modheshivani@gmail.com"}

In [25]:
dict

{'name': 'shivani',
 'age': '22',
 'gender': 'female',
 'email': 'modheshivani@gmail.com'}

In [26]:
#copy
dict.copy()

{'name': 'shivani',
 'age': '22',
 'gender': 'female',
 'email': 'modheshivani@gmail.com'}

In [27]:
#get
dict.get("age")

'22'

In [28]:
#items
dict.items()

dict_items([('name', 'shivani'), ('age', '22'), ('gender', 'female'), ('email', 'modheshivani@gmail.com')])

In [33]:
#pop
dict.pop("name")

'shivani'

In [37]:
#popitem
dict.popitem()

('gender', 'female')

In [49]:
dict={"name":"shivani","age":"22","gender":"female","email":"modheshivani@gmail.com"}

In [50]:
dict

{'name': 'shivani',
 'age': '22',
 'gender': 'female',
 'email': 'modheshivani@gmail.com'}

In [55]:
#setdefault
dict.setdefault("name")

'shivani'

In [56]:
#fromkeys
dict.fromkeys("name")

{'n': None, 'a': None, 'm': None, 'e': None}

In [59]:
#keys
dict.keys()

dict_keys(['name', 'age', 'gender', 'email'])

In [60]:
#values
dict.values()

dict_values(['shivani', '22', 'female', 'modheshivani@gmail.com'])

In [78]:
#update
dict1={"nickname":"twinky"}
dict.update(dict1)

In [79]:
dict

{'name': 'shivani',
 'age': '22',
 'gender': 'female',
 'email': 'modheshivani@gmail.com',
 'nickname': 'twinky'}

# sets

In [80]:
st={"shivani","female",1,2,3,4,5,7,6,8,7,9}

In [81]:
st

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'female', 'shivani'}

In [82]:
#add
st.add("22")

In [83]:
st

{1, 2, '22', 3, 4, 5, 6, 7, 8, 9, 'female', 'shivani'}

In [84]:
#copy
st.copy()

{1, 2, '22', 3, 4, 5, 6, 7, 8, 9, 'female', 'shivani'}

In [93]:
#difference
st2={"twinky",1,2,3,3,4,5,6,7,8,9}
st.difference(st2)

{'22', 'female', 'shivani'}

In [101]:
#difference_update
st={"shivani","female",1,2,3,4,5,7,6,8,7,9}
st.difference_update(st2)

In [102]:
st

{'female', 'shivani'}

In [104]:
#discard
st.discard("shivani")

In [105]:
st

{'female'}

In [114]:
#intersection
st={"shivani","female",1,2,3,4,5,7,6,8,7,9}
st2={"twinky",1,2,3,3,4,5,6,7,8,9}
st3={1,5,6,7,8,9}
st.intersection(st2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [115]:
#intersection_update
st.intersection_update(st2)

In [116]:
st

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [117]:
st.intersection_update(st3)

In [118]:
st

{1, 5, 6, 7, 8, 9}

In [120]:
#isdisjoint
st.isdisjoint(st2)

False

In [121]:
#issubset
st.issubset(st3)

True

In [122]:
st.issubset(st)

True

In [123]:
st.clear()

In [124]:
st

set()

# Tuples

In [125]:
tup=("modheshivani","@","gmail.com")

In [126]:
tup

('modheshivani', '@', 'gmail.com')

In [128]:
#count
tup.count("@")

1

In [129]:
#index
tup.index("gmail.com")

2

# Strings

In [139]:
str1="shivani"
name1="modhe"
name2="daughter of nagender"

In [140]:
name1

'modhe'

In [135]:
#capitalise
str.capitalize("SHIVANI")

'Shivani'

In [142]:
#casefold
str.casefold("MODHE")

'modhe'

In [26]:
 #count
str="daughter of nagender"
str1="iam shivani"
str.count("a",0,20)

2

In [27]:
str.count("e",0,20)

3

In [33]:
#center
str.center(55)

'                  daughter of nagender                 '

In [29]:
str1.center(15)

'  iam shivani  '

In [60]:
#encode
str="daughter of nagender!"
str.encode()

b'daughter of nagender!'

In [63]:
#endswith
str.endswith("!")

True

In [65]:
str.endswith(",")

False

In [64]:
#expandtabs
str="daughter\tof\t nagender!"
str.expandtabs()

'daughter        of       nagender!'

In [66]:
#find
str.find("of")

9

In [67]:
str.find("g")

3

In [89]:
#format
str="hello,{}"
name='bob'
str.format("name")

'hello,name'

In [94]:
str1="iam shivani,{}".format(name)
name="Daughter of nagender"

In [110]:
str="daughter of nagender!"
str1="iam shivani"
str1.format_map("shivani")

'iam shivani'